[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=4ccff1c8-601e-4c4e-86f7-813f95fbc603
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
version=2
